@use "../../App.scss" as *;
.blogs_container {
  overflow: hidden;
  padding: 6rem 0;
  @include breack_down(large) {
    padding: 3rem;
  }
  h2 {
    text-align: center;
    margin-bottom: 4rem;
  }
  .blogs_content {
    padding: 2rem;
    cursor: pointer;
    .blog {
      position: relative;
      display: block;
      overflow: hidden;
      // min-width: 25rem;
      min-height: 25rem;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      img {
        object-fit: cover;
        height: 80%;
      }
      h3 {
        text-align: center;
      }
      .blog_hover {
        background: rgba(53, 107, 179, 0.63);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.9px);
        -webkit-backdrop-filter: blur(12.9px);
        border: 1px solid rgba(53, 107, 179, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #fff;
        transition: 0.5s;
        top: -100vh;
        @include breack_down(large) {
          display: none !important;
        }
        p {
          text-align: center;
        }
        button {
          padding: 10px 15px;
          background-color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .blog_click {
        background: rgba(53, 107, 179, 0.63);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.9px);
        -webkit-backdrop-filter: blur(12.9px);
        border: 1px solid rgba(53, 107, 179, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #fff;
        transition: 0.5s;
        top: -100vh;
        @include breack_up(medium) {
          display: none !important;
        }
        p {
          text-align: center;
        }
        button {
          padding: 10px 15px;
          background-color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.blog_click_container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  @include breack_up(medium) {
    display: none !important;
  }
  .blog_icon {
    transition: 0.5s;
    width: 2rem;
    height: 2rem;
    color: $light;
  }
  .blog_icon_0 {
    width: 0;
  }
}
.top_0 {
  top: 0 !important;
}
.slick-slide {
  padding: 0 27px;
  @include breack_down(large) {
    padding: 0;
  }
}
.slick-dots {
  bottom: -4rem !important;
}
