@use "../../App.scss" as *;
.faq_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 5vw 0;
  @include breack_up(medium) {
    min-height: 50vh;
    min-height: 50vh;
  }
  .faq_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 60%;
    text-align: center;
    @include breack_down(large) {
      width: 90%;
    }
  }
}
.faq_map {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 5rem;
  width: 100%;
  align-items: center;
  @include breack_down(large) {
    display: none !important;
  }
  .faq_top {
    display: flex;
    justify-content: center;
    width: fit-content;
    outline: 1px solid $light;
    .faq_top_item {
      padding: 1rem;
      width: 25vw;
      cursor: pointer;
      transition: 0.6s;
      color: $second;
      &:hover {
        background-color: #b2f2fa;
      }
    }
  }
  .faq_top_inner {
    display: none;
  }
  .faq_bottom {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    .faq_item {
      width: 25vw;
      padding: 1rem;
      outline: 1px solid $light;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: fit-content;
    }
    .sub_category {
      margin: 5px 0;
      cursor: pointer;
      color: $second;
      transition: 0.6s;
      &:hover {
        color: $light;
      }
    }
  }
}
.faq_q_container {
  h4 {
    margin: 5px 0 5px 5px;
    cursor: pointer;
    color: $second;
    transition: 0.6s;
    &:hover {
      color: $light;
    }
  }
  p {
    color: $gr;
    margin: 5px 0 5px 5px;
  }
}
.faq_top_item_active {
  background-color: $light;
  // border-radius: 20px;
}

.opacity_0 {
  opacity: 0 !important;
  pointer-events: none;
}

.faq_mobile {
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  @include breack_up(medium) {
    display: none !important;
  }
  .faq_top_item_mobile {
    margin: 0.5rem 0;
    padding: 0.5rem;
    outline: 1px solid $light;
    width: fit-content;
  }
  .faq_top_item_active_mobile {
    background-color: $light;
  }
  .faq_mobile_quest {
    margin-left: 5px;
  }
}

.faq_aqtive_color {
  color: $light !important;
}
