@use "../../App.scss" as *;
.acc_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  // background-color: #fff;
  padding-top: 3rem;
  h2 {
    text-align: center;
  }
  .acc_slider_container {
    overflow: hidden;
    position: relative;
    padding-left: 4vw;
    h2 {
      margin: 1rem 0;
    }
    .acc_icon {
      position: absolute;
      font-size: 3rem;
      color: $main;
      z-index: 3;
      transition: 0.5s;
      transform: translateY(-50%);
      cursor: pointer;
      &:hover {
        color: $light;
      }
    }
    .acc_left {
      top: 50%;
      left: 10px;
    }
    .acc_right {
      top: 50%;
      right: 10px;
    }
  }
  .acc_slider {
    display: flex;
    align-items: center;
    gap: 5vw;
    position: relative;
    transition: 0.5s;

    img {
      width: 7vw;
      height: fit-content;
      object-fit: cover;
      user-select: none;
    }
  }
  .acc_dark {
    background-color: $second;
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 10rem;
    @include breack_down(large) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 3vw;
    }
    .acc_dark_globe {
      overflow: hidden;
      canvas {
        width: 30vw;
      }

      .globe {
        width: 100%;
      }
      position: relative;

      .dark_car {
        width: 100%;
        height: 100%;
        animation: rotate 30s infinite linear;
        transform-origin: 50% 50%;
        .dark_car_item {
          position: absolute;
          display: flex;
          gap: 1rem;
          color: $main;
          // animation: rotate2 30s infinite linear;
          // transform-style: preserve-3d;
          // transform-origin: 50% 50%;
          p {
            color: #fff;
          }
        }
        .dark_car_item_1 {
          top: 0%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .dark_car_item_2 {
          top: 25%;
          left: 100%;
          transform: translate(-50%, -50%);
        }

        .dark_car_item_3 {
          top: 75%;
          left: 100%;
          transform: translate(-50%, -50%);
        }

        .dark_car_item_4 {
          top: 25%;
          left: 0%;
          transform: translate(-50%, -50%);
        }

        .dark_car_item_5 {
          top: 75%;
          left: 0%;
          transform: translate(-50%, -50%);
        }
        .dark_car_item_6 {
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .acc_dark_info {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      h3 {
        font-size: 1.7rem;
        @include breack_down(large) {
          text-align: center;
          font-size: 1.2rem;
        }
      }
      .acc_dark_numbers {
        display: flex;
        gap: 1rem;
        @include breack_down(large) {
          gap: 0.5rem;
        }
        h4 {
          font-size: 1.3rem;
          @include breack_down(large) {
            font-size: 1rem;
          }
        }
      }
      .border_right {
        border-right: 1px solid #fff;
        padding-right: 1rem;
      }
    }
  }
}
.toL {
  animation: toLeft 40s infinite linear;
}
.toRight {
  animation: toRight 40s infinite linear;
}
@keyframes toLeft {
  0% {
    left: 0;
  }
  50% {
    left: -84vw;
  }
  100% {
    left: 0;
  }
}
@keyframes toRight {
  0% {
    left: -84vw;
  }
  50% {
    left: 0;
  }
  100% {
    left: -84vw;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
